*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
svg {
  display: block;
  object-fit: contain;
  height: auto;
  border: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.body__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 40px;
  height: 100%;
  line-height: 143%;
  background: #ffffff;
}

/*-----------HEADER-START------------*/

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 52px;
}

.header__title-top {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.header__title-doc {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #252d3d;
}

.header__date {
  color: #6e809a;
}

.header__img {
  max-width: 182px;
  max-height: 40px;
}

/*-----------HEADER-END------------*/

/*-----------INFO-Person-START------------*/
.info-person{
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 10px;
}
.info-person__who{
  font-weight: 500;
   color: #252d3d;
}
.info-person__block-id{
  display: flex;
  gap: 4px;
}
.info-person__text{
  color: rgba(110, 128, 154, 1);
}
.info-person__number-id{
  font-weight: 500;
   color: rgba(110, 128, 154, 1);
}

/*-----------INFO-Person-END------------*/

/*-----------MAIN-START------------*/

.main {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #e2e9f3;
  height: 100%;
  margin-bottom: 50px;
}

.info__block-line {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}

.info__title-block {
  display: flex;
  gap: 12px;
  min-width: 50%;
  max-width: 50%;
}

.info__img {
  width: 20px;
  height: 20px;
}

.info__title-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: #252d3d;
}

.info__status-price {
  display: flex;
  gap: 8px;
  flex-direction: column;
  min-width: 320px;
  max-width: 320px;
}

.info__status {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #252d3d;
}

.info__var-price,
.info__text-bottom {
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  color: #6e809a;
}

.grid-banks {
  display: grid;
  grid-template-columns: 50% 320px;
  gap: 16px;
  margin-bottom: 12px;
}

.grid-banks__block {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.grid-banks__name-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  color: #6e809a;
}

.grid-banks__iban {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #252d3d;
}

.line-text {
  text-align: center;
  color: #9aaabf;
  border-bottom: 1px solid #e2e9f3;
  padding-bottom: 20px;
}

/*-----------MAIN-END------------*/

/*-----------FOOTER-START------------*/

.footer-top {
  display: flex;
  gap: 100px;
  margin-bottom: 24px;
  margin-top: auto;
}

.question {
  display: flex;
  flex-direction: column;
  min-width: 360px;
  max-width: 360px;
  border-right: 1px solid #e2e9f3;
}

.question__title,
.number-phone__title {
  font-weight: 700;
  color: #252d3d;
  margin-bottom: 8px;
}

.question__block {
  display: flex;
  gap: 8px;
  margin-bottom: 2px;
}

.question__email-title,
.question__telegram-title {
  min-width: 64px !important;
  font-weight: 600;
  color: #6e809a;
}

.question__telegram-text,
.question__email-text {
  color: #6e809a;
}

.number-phone__grid-number {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 4px 16px;
}

.number-phone__number {
  color: #6e809a;
}

.footer {
  padding: 8px 10px;
  background: #f5f9ff;
  width: calc(100% + 160px);
  margin-left: -80px;
}

.footer__text-bottom {
  font-size: 12px;
  color: #9aaabf;
  text-align: center;
}

/*-----------FOOTER-END------------*/
