html {
    box-sizing: border-box;
    margin: 0 auto;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul[class] {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
    cursor: pointer;
}

a[class] {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
}

@page {
    size: A4;
    margin: 0;
}

.printed-statement {
    font-family: 'Roboto', sans-serif;
    visibility: visible;
    display: block;
}
.printed-statement table, .printed-statement tr, .printed-statement th, .printed-statement td {
    border-collapse: collapse;
    font-family: 'Roboto', sans-serif;
}
.printed-statement__container {
    height: 100%;
}
.printed-statement__content {
    height: 100%;
    background: white;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.printed-statement__inner {
    padding: 52px 40px 0 40px;
    flex: 1 0 auto;
}
.printed-statement__img-logo {
    margin-bottom: 32px;
}
.printed-statement__title {
    color: #252d3d;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 4px;
    font-family: 'Roboto', sans-serif;
}
.printed-statement__text {
    color: #6e809a;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 32px;
}
.printed-statement__description {
    display: flex;
    gap: 20px;
    align-items: center;
    color: #252d3d;
    font-weight: 400;
    padding: 10px 0;
    text-align: start;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0;
}
.printed-statement__description p {
    max-width: 372px;
    font-family: 'Roboto', sans-serif;
}
.printed-statement__sum {
    color: #252d3d;
    text-align: center;
    padding: 10px 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0;
}
.printed-statement__icon {
    padding: 10px 0;
}
.printed-statement__desc {
    width: 100%;
    text-align: start;
    max-width: 200px;
    font-family: 'Roboto', sans-serif;
}
.printed-statement__payment {
    min-width: 100px;
    text-align: center;
}
.printed-statement__img {
    width: 16px;
    height: 16px;
    margin-right: 12px;
}
.printed-statement__img img {
    object-fit: contain;
}
.printed-statement__tax {
    min-width: 100px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.printed-statement__header-title {
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
.printed-statement__desc, .printed-statement__payment, .printed-statement__tax, .printed-statement__icons {
    font-family: 'Roboto', sans-serif;
    color: #252d3d;
    margin-bottom: 20px;
    padding: 8px 0;
    border-bottom: 1px solid #e2e9f3;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0;
}
.printed-statement__text-end {
    font-family: 'Roboto', sans-serif;
    color: #252d3d;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0;
    text-align: right;
}
.printed-statement__text-center {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 0.75rem;
    line-height: 25px;
    font-weight: 500;
    color: #ff752a;
}
.printed-statement__table-footer td {
    padding-top: 16px;
    border-top: 1px solid #e2e9f3;
}
.printed-statement tbody tr:first-child td {
    padding-top: 20px;
}
.printed-statement tbody tr:last-child td {
    padding-bottom: 20px;
}
.printed-statement__amount-text-bold {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0;
    text-align: center;
}
.printed-footer {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 0 40px;
    margin-bottom: 24px;
}
.printed-footer__question {
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: 'Roboto', sans-serif;
}
.printed-footer__email-top {
    display: flex;
    gap: 8px;
    font-family: 'Roboto', sans-serif;
}
.printed-footer__email-telegram {
    display: flex;
    gap: 8px;
    font-family: 'Roboto', sans-serif;
}
.printed-footer__divider {
    width: 1px;
    background: #e2e9f3;
}
.printed-footer__text-bold {
    min-width: 64px;
    font-weight: 500;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
}
.printed-footer__text-light {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
}
.printed-footer__phones-inner {
    display: grid;
    row-gap: 4px;
    column-gap: 16px;
    grid-template-columns: repeat(2, 1fr);
}
.printed-footer__title {
    color: #252d3d;
    font-weight: 500;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    font-family: 'Roboto', sans-serif;
}
.printed-footer__email-block {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.printed-footer__text-small, .printed-footer__email-block {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    font-size: 14px;
    color: #6e809a;
}
.printed-bottom {
    padding: 13px 0;
    background: #f5f9ff;
    display: flex;
    justify-content: center;
}
.printed-bottom p {
    font-size: 12px;
    color: #6e809a;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
