

html{
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}
ul[class],
ol[class]{
    padding: 0;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd{
    margin: 0;
}
ul[class]{
   list-style: none;
}
img{
    max-width: 100%;
    display: block;
}
input,
button,
textarea,
select{
    font: inherit;
}
a[class]{
    text-decoration: none;
}
table{
    margin: 0;
    padding: 0;
    border-spacing: 0;
    border-collapse: collapse;
}
.container-act {
  font-weight: 400;
  padding: 20px;
  font-size: 14px;
  width: 210mm;
  min-height: 297mm;
  margin: 5mm auto;
  background: white;
}
.header-act {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.header-act__provider,
.header-act__payer {
  display: flex;
justify-content: space-between;
}
.header-act__payer-text,
.header-act__provider-info{
  width: 290px;
}
.header-act__provider-title,
.header-act__payer-title {
  width: 300px;
}
.header-act__date {
  display: flex;
  margin-right: 0;
  margin-left: auto;
  margin-bottom: 20px;
}
.main-act {
  margin-bottom: 20px;
}
.main-act__title {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  gap: 5px;
  text-align: center;
  align-items: center;
}
.main-act__table table,
.main-act__table th {
  border: 1px solid #000;
  min-height: 20px;
}
.main-act__table table {
  width: 100%;
  margin-bottom: 20px;
}
.main-act__table thead th {
  text-align: start;
  font-weight: 700;
}
.main-act__table tbody th {
  font-weight: 400;
  text-align: start;
}
.main-act__table-flex {
  text-align: start;
}
.footer-act {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.footer__sign-border{
  border-bottom: 1px solid #000000;
  height: 40px;
  width: 200px;
}
.footer-act-give,
.footer-act-take {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
@page {
  size: A4 portrait;
  margin: 20mm;
}
img,
table {
  page-break-inside: avoid;
}





























