.document-container-f0133109 .custom-input-field {
  margin-top: 0;
  font-size: 16px;
}

.document-container-f0133109 .input-100-procent {
  min-width: 100%;
}

.document-container-f0133109 .statement__border {
  padding: 5px;
  border: 1px solid #000;
}

.document-container-f0133109 .text-into-small-input {
  min-width: 70px;
}

.document-container-f0133109 .text-end-block {
  justify-content: end;
  margin-left: auto;
}

.document-container-f0133109 .statement-registration,
.document-container-f0133109 .statement__seria,
.document-container-f0133109 .statement__name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.document-container-f0133109 .period p {
  display: flex;
  align-items: center;
}

.document-container-f0133109 .statement__period-specified {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-left: 20px;
}

.document-container-f0133109 .statement__border {
  width: auto;
}

.document-container-f0133109 .statement-title-flex {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  border: 1px solid #000;
  justify-content: center;
  border-right: 0;
}

.document-container-f0133109 .header__addition {
  width: 210px;
  line-height: 14px;
}

.document-container-f0133109 .statement-top {
  display: flex;
  padding: 0;
  margin: 0;
}

.document-container-f0133109 .statement__registration,
.document-container-f0133109 .statement__series {
  display: flex;
  justify-content: space-between;
}

.document-container-f0133109 .statement__period {
  margin-top: 10px;
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

.document-container-f0133109 .display-block {
  display: block;
}

.document-container-f0133109 .period {
  display: flex;
  gap: 10px;
}

.document-container-f0133109 .statement__border-footer {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #000;
}

.document-container-f0133109 .statement-period-date {
  display: flex;
  gap: 20px;
}

.document-container-f0133109 .statement__type-form {
  margin-top: 4px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 2fr);
}

.document-container-f0133109 .statement__type-form sup {
  font-size: 12px;
}

.document-container-f0133109 .type-form__106 {
  display: flex;
  gap: 5px;
}

.document-container-f0133109 .statement__title-stop {
  display: flex;
  gap: 20px;
  align-items: center;
}

.document-container-f0133109 .statement__data-stop {
  display: flex;
  gap: 20px;
}

.document-container-f0133109 .statement__border {
  /*  height: 100%; */
}

.document-container-f0133109 .statament__stop-table {
  display: flex;
  gap: 5px;
}

.document-container-f0133109 .statement__kod {
  display: flex;
  justify-content: space-between;
}

.document-container-f0133109 .statement__period-onsimplified {
  display: flex;
  gap: 60px;
  align-items: start;
  margin-bottom: 10px;
}

.document-container-f0133109 .statement__onsimplified-table {
  display: flex;
  gap: 10px;
  align-items: end;
}

.document-container-f0133109 .statement__kod-kategory {
  display: flex;
  gap: 74px;
}

.document-container-f0133109 .income-month {
  min-width: 80px;
}

.document-container-f0133109 .statemetn-mistake__spesial {
  width: 100%;
  max-width: 600px;
  min-width: 300px;
}

.document-container-f0133109 .statement-footer__sign-name {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.document-container-f0133109 .statement-footer {
  padding: 0 0 10px 0;
  display: flex;
  gap: 30px;
}