.document-container-f0121215 {
  * {
    font-family: "Times New Roman";
    letter-spacing: 0 !important;
    color: #000;
  }

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .seal-date {
    border: 1px solid #000;
    width: 350px;
    padding-top: 20px;
    text-align: center;
  }

  .header-info {
    width: 240px;
    margin-right: 20px;
    margin-left: 20px;
  }

  .statement-title {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
  }

  .registration-number {
    line-height: 20px;
    border: 1px solid #000;
  }

  .naming__block-float {
    padding: 5px;
  }

  .naming__number-input {
    display: inline-block;
    min-width: 250px;
    margin-left: 20px;
    text-align: center;
    border: 1px solid #000;
    margin-top: 5px;
    min-height: 20px;
    float: right;
  }

  .type-declaration__block {
    display: flex;
    flex-direction: column;
  }

  .type-declaration__blocks {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .type-declaration {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
  }

  .type-declaration__blocks-checkes {
    display: flex;
    gap: 5px;
  }

  .type-declaration__flex-sence {
    display: flex;
    gap: 30px;
  }

  table {
    border: 1px solid #000;
    max-width: 95%;
    min-width: 600px;
  }

  table th {
    font-weight: 400;
    word-wrap: wrap;
    word-break: keep-all;
  }

  th {
    border: 1px solid #000;
  }

  .type-declaration {
    margin-top: 10px;
    border-top: 1px solid #000;
    justify-content: space-between;
    display: flex;
    padding: 10px;
    border: 1px solid #000;
  }

  .type-declaration__blocks-input {
    border: 1px solid #000;
    width: 120px;
    text-align: center;
  }

  .type-declaration__blocks-checkes {
    align-items: center;
  }

  .type-declaration__block h4 {
    margin-bottom: 5px;
  }

  .title-medium {
    text-align: center;
    padding: 5px;
  }

  .list-operation__line {
    margin-top: 20px;
    width: 80px;
  }

  .list-operation__blocks {
    display: flex;
    gap: 20px;
    margin-bottom: 5px;
  }

  .list-operation__block h5 {
    width: 240px;
    font-weight: 700;
  }

  .list-operation {
    margin-bottom: 20px;
  }

  .sign {
    align-items: center;
    text-align: center;
    display: flex;
    gap: 30px;
    justify-content: space-between;
  }

  .sign__input-sign {
    width: 130px;
    border-bottom: 1px solid #000;
    min-height: 20px;
  }

  .sign__input-name {
    width: 390px;
    border-bottom: 1px solid #000;
    min-height: 20px;
  }

  .registration-number,
  .type-declaration {
    margin-bottom: 30px;
  }

  .width-60 {
    width: 60px;
  }

  .width-160 {
    width: 160px;
  }
}