@charset "UTF-8";
.document-container-f0134106 {
  font-weight: 400;
  font-size: 14px;
  max-width: 1000px;
  font-family: "times new roman";
  color: #000 !important;
  margin: 10mm auto;
  background-color: var(--bg-white);
  letter-spacing: 0 !important;
  /* styles.css или другой файл стилей */
}
.document-container-f0134106 * {
  font-family: "Times New Roman" !important;
}
.document-container-f0134106 .custom-input-field {
  margin-top: 0;
  font-size: 14px;
}
.document-container-f0134106 .number__statement {
  margin-bottom: 10px;
}
.document-container-f0134106 input,
.document-container-f0134106 textarea {
  font-weight: 700;
  outline: none;
  width: 100%;
  height: 15px;
  height: 100%;
  border: none;
}
.document-container-f0134106 .header {
  display: flex;
  justify-content: space-between;
}
.document-container-f0134106 .header__stamp {
  width: 300px;
  border: 1px solid #000;
}
.document-container-f0134106 .header__addition {
  width: 210px;
  line-height: 14px;
}
.document-container-f0134106 .statement__block-title {
  display: flex;
}
.document-container-f0134106 .statement__title {
  text-align: center;
  padding: 20px;
  width: 100%;
  font-weight: 700;
}
.document-container-f0134106 .statement__title h4 {
  font-weight: 700;
}
.document-container-f0134106 .statement__which-for td {
  border: 1px solid #000;
  padding: 2px 2px;
}
.document-container-f0134106 .statement__border {
  padding: 5px;
  border: 1px solid #000;
}
.document-container-f0134106 .statement-top {
  display: flex;
  display: flex;
  padding: 0;
  margin: 0;
}
.document-container-f0134106 .statement__registration,
.document-container-f0134106 .statement__series {
  display: flex;
}
.document-container-f0134106 .statement__registration h4,
.document-container-f0134106 .statement__series h4 {
  width: 380px;
  margin-right: 50px;
  font-weight: 400;
}
.document-container-f0134106 .statement__registration-number,
.document-container-f0134106 .statement__series-table {
  width: 500px;
}
.document-container-f0134106 .statement__registration-number td,
.document-container-f0134106 .statement__series-table td {
  text-align: center;
  border: 1px solid #000;
}
.document-container-f0134106 .statement__type-name {
  display: flex;
  gap: 30px;
  font-weight: 400;
}
.document-container-f0134106 .statement__type-name div {
  text-align: center;
  width: 500px;
  border-bottom: 1px solid #000;
}
.document-container-f0134106 .statement__type-name h4,
.document-container-f0134106 .statement__border h4,
.document-container-f0134106 .specific-title {
  font-weight: 400;
}
.document-container-f0134106 .statement__period {
  margin-top: 10px;
  margin-left: 40px;
  display: flex;
  gap: 30px;
}
.document-container-f0134106 .period table {
  min-width: 30px;
  height: 20px;
  margin-right: 5px;
  margin-top: -2px;
  border: 1px solid #000;
}
.document-container-f0134106 .period {
  display: flex;
}
.document-container-f0134106 .text-bottom-specific {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 400;
  margin-left: 40px;
  margin-top: 2px;
  font-size: 13px;
}
.document-container-f0134106 .text-bottom-specific h3 {
  font-weight: 400;
}
.document-container-f0134106 .specific-title {
  margin-top: -15px;
  margin-left: 40px;
}
.document-container-f0134106 .statement__period-specified {
  display: flex;
  gap: 45px;
  margin-top: 10px;
  margin-left: 40px;
}
.document-container-f0134106 .statement__type-form {
  margin-top: 4px;
  font-size: 12px;
  display: flex;
  gap: 26px;
}
.document-container-f0134106 .type-form__106 {
  display: flex;
  gap: 5px;
}
.document-container-f0134106 .type-form {
  max-width: 190px;
}
.document-container-f0134106 .type-form table {
  min-width: 30px;
  height: 20px;
  border: 1px solid #000;
}
.document-container-f0134106 .statement__title-stop {
  display: flex;
  gap: 100px;
}
.document-container-f0134106 .statement__data-stop {
  display: flex;
  height: 22px;
  gap: 50px;
}
.document-container-f0134106 .statament__stop-table {
  display: flex;
  gap: 5px;
}
.document-container-f0134106 .statament__stop-table table {
  border: 1px solid #000;
  padding: 1px 3px;
}
.document-container-f0134106 .statament__stop-table p {
  margin-top: 3px;
}
.document-container-f0134106 .statement__kod {
  display: flex;
  margin-right: 100px;
  justify-content: space-between;
}
.document-container-f0134106 .statement__kod table {
  border: 1px solid #000;
  min-width: 100px;
}
.document-container-f0134106 .statement__sub-number {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.document-container-f0134106 .statement__sub-number h4 {
  width: 300px;
}
.document-container-f0134106 .statement__period-onsimplified {
  display: flex;
  gap: 60px;
}
.document-container-f0134106 .statement__onsimplified-table {
  margin-top: 7px;
  display: flex;
  gap: 10px;
}
.document-container-f0134106 .statement__kod-kategory {
  display: flex;
  gap: 74px;
}
.document-container-f0134106 .statement__onsimplified-table table,
.document-container-f0134106 .statement__kod-kategory table {
  border: 1px solid #000;
  min-width: 100px;
}
.document-container-f0134106 .statement__sum-income table,
.document-container-f0134106 .statement__sum-income th {
  border: 1px solid #000;
  text-align: center;
  letter-spacing: 0 !important;
}
.document-container-f0134106 .statement__sum-income td {
  border: 1px solid #000;
}
.document-container-f0134106 .income-month {
  min-width: 80px;
}
.document-container-f0134106 .income-sum-max {
  min-width: 280px;
}
.document-container-f0134106 .income-non-budgetary {
  max-width: 200px;
}
.document-container-f0134106 .statement__payment-table,
.document-container-f0134106 .statement__mistake-table {
  margin-top: 2px;
  display: flex;
  gap: 10px;
}
.document-container-f0134106 .statement__payment-table td,
.document-container-f0134106 .statement__mistake-table td {
  border: 1px solid #000;
  letter-spacing: 0;
  padding: 5px;
}
.document-container-f0134106 .statemetn-mistake__spesial {
  width: 600px;
}
.document-container-f0134106 .statemetn-mistake__spesial-num {
  width: 360px;
  letter-spacing: 0;
}
.document-container-f0134106 .statement__payment-table p {
  margin-top: 8px;
}
.document-container-f0134106 .payment-table__padding {
  padding: 1px 8px;
}
.document-container-f0134106 .statement-footer__sign-name {
  display: flex;
  gap: 30px;
  margin-bottom: 10px;
  margin-top: 40px;
}
.document-container-f0134106 .statement-footer {
  padding: 0 0 10px 0;
  display: flex;
  gap: 30px;
}
.document-container-f0134106 .input-standart input {
  width: 100%;
  height: 100%;
  border: none;
  outline: 0;
}
.document-container-f0134106 .input-width__which-for {
  width: 40px;
}
.document-container-f0134106 .input-standart__width-small {
  width: 30px;
  height: 100%;
  border: 1px solid #000;
  outline: 0;
  margin-top: -4px;
  margin-right: 4px;
}
.document-container-f0134106 .input-standart__width-medium {
  width: 40px;
  height: 100%;
  border: 1px solid #000;
  outline: 0;
  margin-right: 4px;
}
.document-container-f0134106 .input-width-type {
  width: 90px;
  height: 100%;
  border: 1px solid #000;
  outline: 0;
  margin-top: -4px;
  margin-right: 4px;
}
.document-container-f0134106 .statement-footer__sign-name input {
  border: none;
  border-bottom: 1px solid #000;
  height: 100%;
  outline: 0;
  margin-top: -10px;
  width: 400px;
}
.document-container-f0134106 .statement-footer__info {
  width: 250px;
}
.document-container-f0134106 .statement-header-text-whatfor {
  width: 80px;
}
.document-container-f0134106 textarea {
  overflow-y: hidden;
  resize: none;
  outline: 0;
}
.document-container-f0134106 .textarea-standart {
  overflow-y: hidden;
  resize: none;
  width: 100%;
  height: 100%;
  border: 0;
  outline: 0;
  height: 12px;
  min-height: 12px;
  padding: 0;
  margin: 0;
}
.document-container-f0134106 .css-checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
}
.document-container-f0134106 #inputPreview {
  display: flex;
  gap: 10px;
  width: 25px;
  padding-bottom: 5px;
  min-height: 20px;
  padding-top: -2px;
  background: #e7fdff;
  max-height: 25px;
  border: 1px solid #000;
  justify-content: center;
}
.document-container-f0134106 .css-checkbox + label {
  position: relative;
  font-size: 16px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  color: black;
}
.document-container-f0134106 .css-checkbox + label::before {
  content: " ";
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 15px;
  background: #e7fdff;
  border-width: 3px;
  border-style: solid;
  border-color: white;
  border-radius: var(--border-radius-8);
  box-shadow: none;
}
.document-container-f0134106 .css-checkbox:checked + label::after {
  content: " ";
  background-image: url(https://cdn-icons-png.flaticon.com/512/6065/6065149.png);
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: center center;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  left: -15px;
  top: -10px;
  text-align: center;
  background-color: transparent;
  font-size: 10px;
  height: 42px;
  width: 36px;
}
.document-container-f0134106 .checkbox-size {
  width: 20px;
  height: 20px;
}
.document-container-f0134106 .custom-css-checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 25px;
  height: 25px;
  margin: -1px;
  padding: 0;
}
.document-container-f0134106 #customInputPreview {
  display: flex;
  justify-content: center;
}
.document-container-f0134106 .custom-css-checkbox + label {
  position: relative;
  font-size: 16px;
  cursor: pointer;
  margin-top: 3px;
  display: inline-flex;
  align-items: center;
  color: black;
}
.document-container-f0134106 .custom-css-checkbox + label::before {
  content: " ";
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background: #e7fdff;
  padding-bottom: 5px;
  border-width: 3px;
  border-style: solid;
  border-color: #e7fdff;
  border-radius: var(--border-radius-8);
  box-shadow: none;
}
.document-container-f0134106 .custom-css-checkbox:checked + label::after {
  content: " ✖";
  background-repeat: no-repeat;
  background-size: 44px 44px;
  background-position: center center;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  text-align: center;
  background-color: transparent;
  width: 100%;
  height: 100%;
}
.document-container-f0134106 .font-weight-400 th {
  font-weight: 400;
}
.document-container-f0134106 .width-500 {
  width: 500px;
}
.document-container-f0134106 .width-150 {
  width: 150px;
}
.document-container-f0134106 .height-20 {
  height: 20px;
}
.document-container-f0134106 .width-90 {
  width: 90px;
}
.document-container-f0134106 .statement__which-for td,
.document-container-f0134106 .period td,
.document-container-f0134106 .statement__sum-income td {
  padding-bottom: 10px;
}
.document-container-f0134106 .statament__stop-table td,
.document-container-f0134106 .statement__kod td {
  padding-bottom: 7px;
}
.document-container-f0134106 .statement__onsimplified-table td,
.document-container-f0134106 .statement__kod-kategory td {
  padding-bottom: 5px;
}
.document-container-f0134106 .icon-cross {
  margin-top: 2px !important;
}
.document-container-f0134106 .css-checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
}
.document-container-f0134106 #inputPreview {
  display: flex;
  gap: 10px;
  width: 25px;
  padding-bottom: 5px;
  min-height: 20px;
  padding-top: -2px;
  background: #e7fdff;
  max-height: 25px;
  border: 1px solid #000;
  justify-content: center;
}
.document-container-f0134106 .css-checkbox + label {
  position: relative;
  font-size: 16px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  color: black;
}
.document-container-f0134106 .css-checkbox + label::before {
  content: " ";
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 15px;
  background: #e7fdff;
  border-width: 3px;
  border-style: solid;
  border-color: white;
  border-radius: var(--border-radius-8);
  box-shadow: none;
}
.document-container-f0134106 .css-checkbox:checked + label::after {
  content: " ";
  background-image: url(https://cdn-icons-png.flaticon.com/512/6065/6065149.png);
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: center center;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  left: -15px;
  top: -10px;
  text-align: center;
  background-color: transparent;
  font-size: 10px;
  height: 42px;
  width: 36px;
}
.document-container-f0134106 .checkbox-size {
  width: 20px;
  height: 20px;
}
.document-container-f0134106 .custom-css-checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 20px;
  height: 20px;
  margin: -1px;
  padding: 0;
}
.document-container-f0134106 #customInputPreview {
  display: flex;
  justify-content: center;
}
.document-container-f0134106 .custom-css-checkbox + label {
  position: relative;
  font-size: 16px;
  cursor: pointer;
  margin-top: 3px;
  display: inline-flex;
  align-items: center;
  color: black;
}
.document-container-f0134106 .custom-css-checkbox + label::before {
  content: " ";
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background: #e7fdff;
  padding-bottom: 5px;
  border-width: 3px;
  border-style: solid;
  border-color: #e7fdff;
  border-radius: var(--border-radius-8);
  box-shadow: none;
}
.document-container-f0134106 .custom-css-checkbox:checked + label::after {
  content: " ✖";
  background-repeat: no-repeat;
  background-size: 44px 44px;
  background-position: center center;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  text-align: center;
  background-color: transparent;
  width: 100%;
  height: 100%;
}
.document-container-f0134106 input[type=checkbox] {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
}
.document-container-f0134106 .pb-0 {
  padding-bottom: 0 !important;
}
.document-container-f0134106 .checkbox-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.document-container-f0134106 .checkbox-container input[type=checkbox] {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  position: relative;
}
.document-container-f0134106 .checkbox-container input[type=checkbox]::after {
  content: "✖";
  /* Используем символ крестика */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: transparent;
}
.document-container-f0134106 .checkbox-container input[type=checkbox]:checked::after {
  color: var(--text-color-dark);
  /* Цвет крестика */
}
.document-container-f0134106 .checkbox-mt .icon-cross {
  margin-top: 2px;
  margin-left: 4px;
}
.document-container-f0134106 .checkbox-mt-another .icon-cross {
  margin-top: -6px;
  margin-left: 5px;
}