.document-container-f3001004 * {
  word-break: keep-all;
  letter-spacing: 0 !important;
  font-family: "Times New Roman" !important;
  font-size: 14px;
}
.document-container-f3001004 * table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.document-container-f3001004 input:focus,
.document-container-f3001004 button:focus,
.document-container-f3001004 input[checkbox]:focus {
  outline: 3px solid #55948f;
  outline-offset: 2px;
}

.document-container-f3001004 input:focus,
.document-container-f3001004 textarea:focus {
  outline: 3px solid #55948f;
}

.document-container-f3001004 button:focus-visible {
  outline: 3px dashed #55948f;
}

.document-container-f3001004 button:focus {
  outline: none;
  box-shadow: 0 0 5px 2px #55948f;
}

.document-container-f3001004 input[type="checkbox"]:focus + label {
  outline: 3px solid #55948f;
  outline-offset: 1px;
}

.document-container-f3001004 table {
  width: 100%;
  margin-bottom: 20px;
}

.document-container-f3001004 .u {
  border-bottom: 1px solid #000;
}

.document-container-f3001004 .addition-text {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: 0;
  width: 100%;
  max-width: 300px;
  font-size: 14px;
  margin-bottom: 30px;
}

.document-container-f3001004 .addition-text__number {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.document-container-f3001004 .title-page {
  text-align: center;
  margin-bottom: 5px;
}

.document-container-f3001004 .text-upper {
  text-transform: uppercase;
}

.document-container-f3001004 .block-table__number-row {
  width: 40px;
  text-align: center;
}

.document-container-f3001004 .block-table__style-start {
  text-align: start;
  width: 550px;
}

.document-container-f3001004 .block-table table {
  width: 100%;
}

.document-container-f3001004 .block-table {
  margin-bottom: 10px;
}

.document-container-f3001004 .block-table th {
  border: 1px solid #000;
  font-weight: 400;
}

.document-container-f3001004 .block-table__details {
  margin-bottom: 5px;
}

.document-container-f3001004 .checked {
  display: flex;
  gap: 5px;
  border-bottom: none;
}

.document-container-f3001004 .block-table__details .checked {
  border-bottom: none;
  border-left: none;
}

.document-container-f3001004 .block-chief__number-name {
  display: flex;
}

.document-container-f3001004 .block__data {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.document-container-f3001004 .date-width {
  min-width: 150px;
  max-width: 150px;
}

.document-container-f3001004 .comment {
  margin-bottom: 35px;
}

.document-container-f3001004 .block-chief {
  margin-bottom: 25px;
}

.document-container-f3001004 .block-chief__title,
.document-container-f3001004 .block-accountant__title {
  font-size: 16px;
  margin-bottom: 10px;
}

.document-container-f3001004 .block-chief__number-name,
.document-container-f3001004 .block-accountant__number-name {
  display: flex;
  justify-content: space-between;
}

.document-container-f3001004 .block-chief__number,
.document-container-f3001004 .block-accountant__number {
  width: 100%;
  max-width: 300px;
  border-bottom: 1px solid #000;
  text-align: center;
}

.document-container-f3001004 .block-chief__text-bottom,
.document-container-f3001004 .block-accountant__text-bottom {
  width: 100%;
  max-width: 300px;
  text-align: center;
}

.document-container-f3001004 .block-chief__name,
.document-container-f3001004 .block-accountant__name {
  min-width: 300px;
  border-bottom: 1px solid #000;
  text-align: center;
}

.document-container-f3001004 .block-chief__name-text,
.document-container-f3001004 .block-accountant__name-text {
  width: 100%;
  max-width: 370px;
  text-align: center;
}

.document-container-f3001004 .block-chief__name,
.document-container-f3001004 .block-accountant__name {
  width: 100%;
  max-width: 370px;
}

.document-container-f3001004 .width-smaler {
  width: 115px;
}

.document-container-f3001004 .width-number {
  width: 20px;
}
