.document-container-F1302101 table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.document-container-F1302101 .statement__block-details {
  padding: 10px;
}

.document-container-F1302101 .doc__choice-line {
  align-items: center;
}

.document-container-F1302101 .statement__block-details {
  justify-content: space-between;
  gap: 20px;
}

.document-container-F1302101 .text-choice-needed {
  display: flex;
  margin-left: auto;
  width: 180px;
  font-size: 12px;
  padding-bottom: 10px;
}

.document-container-F1302101 .statement__sign {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.document-container-F1302101 .statement-method__input {
  align-items: center;
}

.document-container-F1302101 .sign-bottom {
  display: flex;
  gap: 100px;
  justify-content: end;
  margin-left: auto;
}

.document-container-F1302101 .sign-top {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.document-container-F1302101 .date {
  display: flex;
  align-items: center;
  max-width: 200px;
}